<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659019717583-1mpjcu1akqruaops5at0m488mp8i0pkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659019717583-1mpjcu1akqruaops5at0m488mp8i0pkk</string>
	<key>API_KEY</key>
	<string>AIzaSyAs35iuXT6jYQeKJWK98OvRUbD4ljjoXc8</string>
	<key>GCM_SENDER_ID</key>
	<string>659019717583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RightAndAbove.Sport</string>
	<key>PROJECT_ID</key>
	<string>sportc-14ab6</string>
	<key>STORAGE_BUCKET</key>
	<string>sportc-14ab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659019717583:ios:005ee1e7581442681890ba</string>
</dict>
</plist>